---
import { basePath } from '../config/nav';
---

<footer class="site-footer">
  <div class="site-footer-inner">
    <div class="site-footer-mark-box" aria-label="sp00ky">
      <img class="site-footer-mark-glyph" src="/footer-mark-00.svg" alt="" />
    </div>

    <nav class="site-footer-nav">
      <div class="site-footer-col">
        <h4>The Haunt</h4>
        <a href="/">Home</a>
        <a href={`${basePath}/docs`}>Docs</a>
        <a href="/features">Features</a>
        <a href="/cloud">Cloud</a>
      </div>
      <div class="site-footer-col">
        <h4>The Crypt</h4>
        <a href="/pricing">Pricing</a>
        <a href="/team">About</a>
        <a href="#">Terms of Use</a>
        <a href="#">Privacy</a>
      </div>
      <div class="site-footer-col">
        <h4>The Coven</h4>
        <a href="https://github.com/mono424/sp00ky" target="_blank" rel="noopener">GitHub</a>
        <a href="#" target="_blank" rel="noopener">X</a>
        <a href="#" target="_blank" rel="noopener">Discord</a>
      </div>
    </nav>
  </div>

  <div class="site-footer-wordmark" aria-hidden="true">
    <img src="/logo-footer.svg" alt="" />
  </div>

  <div class="site-footer-bottom">
    <span>Sp00ky © 2026</span>
    <span>Made with ghosts</span>
  </div>
</footer>
