PORT=3660
SPKY_DB_URL=http://127.0.0.1:8000/rpc
SPKY_DB_NS=main
SPKY_DB_NAME=example
SPKY_DB_USER=root
SPKY_DB_PASS=root
ANTHROPIC_API_KEY=your_anthropic_api_key_here
API_AUTH_TOKEN=THIS_IS_TOP_SECRET
