openapi: 3.1.0
info:
  version: 1.0.0
  title: example
components:
  schemas: {}
  parameters: {}
paths:
  /spookify:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: thread:kv9b3b...
              required:
                - id
      responses:
        '200':
          description: ok
        '404':
          description: Thread not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
webhooks: {}
